.list-mails_bar .list-mails_bar_content {
  width: 100%;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -ms-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  color: #64748b;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
