.img-detail
{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px;
}

.img-detail span
{
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 1;
}

.img-detail img
{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.img-detail .zoom-in
{
    width: 100%;
    height: 100%;
    position: fixed;
    background: white;
    display: flex;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 50px;
}

.img-detail .zoom-in img
{
    width: auto;
    height: auto;
    max-width: 1000px;
    max-height: 500px;
    margin: auto;
}
