.note {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(241, 245, 249);
  padding: 32px;
}

.note .search-note {
  display: flex;
}

.note .search-note .search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0px 15px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(203, 213, 225);
}

.note .search-note .search-bar .icon {
  margin-right: 10px;
}

.note .search-note .search-bar .text {
  width: 100%;
}

.note .search-note .search-bar .text .input {
  width: auto;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px 0px;
}

.note .search-note .new-note {
  width: auto;
  display: flex;
  margin-left: 10px;
  padding: 0px 16px;
  align-items: center;
  color: #fff;
  border-radius: 20px;
  background-color: #4a3ce7;
  position: relative;
}

.note .search-note button:hover {
  background-color: #4d42c5;
}

.note .search-note .new-note .icon {
  margin-right: 5px;
}

.note .search-note .new-note span {
  display: inline-block;
  word-wrap: normal;
}

.note .note-container {
  width: 100%;
  display: flex;
  margin-top: 32px;
  /* flex-direction: column; */
}

.note .note-form .note-form_container {
  position: relative !important;
}

.note .note-details {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px;
  margin-bottom: 10px;
  border: 1px solid rgba(203, 213, 225);
  cursor: pointer;
  z-index: 1;
}

.note .note-details .title {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.note .note-details .content {
  color: #333;
  margin-top: 10px;
  font-size: 14px;
}

.note .note-details .tags {
  display: flex;
  flex-wrap: wrap;
  color: #64748b;
  margin-top: 15px;
}

.note .note_container-item {
  width: 100%;
  display: inline-block;
  padding: 1%;
}

.note .note-details .tags .sub-tags {
  background-color: rgba(241, 245, 249);
  border-radius: 20px;
  padding: 2px 12px;
  margin: 0 4px 4px 0;
  font-size: 14px;
}

@media (max-width: 500px) and (min-width: 300px) {
  .note{
    padding: 15px;
    height: auto;
  }
}
